.phone {
  border-radius: 68px;
  transition: all 0.2s ease;
}

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 0;

  background-color: #060606 !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.topContainer {
  margin: 0 auto;
  height: 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;

  top: 9px;
  left: 5%;
  right: 5%;
}

.gridWrapper {
  margin: 0 auto;
  display: flex;
  flex: 1;
}

.gridContainer {
  height: 100%;
  display: grid;
}

.bottomWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottomContainer {
  width: 94.6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 32px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.bottomBlur {
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(18px);
  margin: -20px;
  background-size: cover;
  opacity: 6.5;
  background-position-y: bottom;
  background-image: attr(data-bg-image);
}

.clock {
  font-size: 17px;
  font-weight: 500;
  height: fit-content;
  color: #f7f7f7;
}
