.image {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: '';
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.02);
      opacity: 0.95;
    }
    80% {
      transform: scale(0.9);
      opacity: 1;
    }
  }

  &:active {
    animation-name: bounce;
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
    transform: scale(1.08);
  }
}
